/** Commonly used */
$width-small: 375px;
$width-medium: 768px;
$width-large: 1440px;

// 转化一下手机值
@mixin for-phone-only {
    @media screen and (min-width: $width-small) and (max-width: $width-medium)  { 
        @content; 
    }
}
